{% extends "base.html" %} {% block content %}

<h2>Reference voice: enter an audio filepath of a voice to be cloned (mp3,wav, m4a, or flac) OR record your voice</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="audioUpload" class="upload-label">
            Upload Voice
        </label>
        <input type="file" name="file" id="audioUpload" accept=".mp3, .wav, .m4a, .flac, .ogg">
    </form>

    <div id='recordArea'>
    <button class="btn btn-primary btn-lg"  id='recordVoice'>Record Voice</button>
    </div>

    <div id='btns'>

        <button  class="btn btn-primary btn-lg" id='start'>Start</button>
        <button  class="btn btn-primary btn-lg" id='stop'>Stop</button>
    </div>
    <div>
        <ul  class="list-unstyled" id='ul'></ul>
    </div>

    <div style="margin-bottom: 5px; width: 50%" class="input-group">
        <audio controls id="recorded_audio_player" style="width: 100%; display: none">
          <source id="recorded_src" type="audio/wav">
        </audio>
    </div>



    <div class="filename-section" style="display:none;">
        <div class="filename-preview">
            <div id="filenamePreview">
            </div>
        </div>
    </div>

    <div class="clone">
        <button type="button" class="btn btn-primary btn-lg" id="btn-clone">Clone!</button>
    </div>

    <div class="loader" style="display:none;"></div>

    <!-- <h3 id="result">
        <span> </span>
    </h3> -->

    <div class="input-form">
      <form id="script">
       Input text to be synthesized:<br>
       <input id="input-text" type="text" name="a" autocomplete="off"><br>
     </form>
    </div>

    <div style="margin-bottom: 5px; width: 50%" class="input-group">
        <audio controls id="audio_player" style="width: 100%; display: none">
          <source id="wav_src" type="audio/wav">
        </audio>
    </div>

</div>

{% endblock %}
